body {
   font-family: Verdana, Geneva, sans-serif;
}

main {
  max-width: 610px;
  margin: auto;
  background-color: #f6f6ef;
}

h1 {
    background-color: #ff6600;
    padding: 5px;
}

.container {
    margin-left: 10px;
    margin-right: 10px;
}

.linkContainer {
    margin-bottom: 5px;
    font-size: 11pt;
}

a {
   color: black;
}

a:visited {
  color: #828282;
}