<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/app.css}" />
    <!--Make it look good on phones-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<main>
    <div class="nav">
        <div class="title"><strong>About</strong></div>
        <div><a th:href="@{/}">Home</a> | <a th:href="@{https://github.com/mmaynar1/hacker-wisdom/tree/master}">Source Code</a> | <a th:href="@{https://mitchum.blog/hacker-wisdom/}">Blog Post</a></div>
    </div>
    <div class="container">
        <p>Keeping up with tech news is great fun, but improving yourself by applying practical wisdom is even better.</p>
        <p>
            Some of the most valuable information on <a th:href="@{https://news.ycombinator.com/}">Hacker News</a> can be found in the comment section. I often find myself
            reading through interesting responses to interesting <a th:href="@{https://news.ycombinator.com/ask}">"Ask HN" questions</a> and saving off linked content for reading
            in the future.
        </p>
        <p>It seemed in the spirit of Hacker News to automate part of this process and make it into a little web
            application.
        </p>
        <p>
            If you're interested in reading more about this project or seeing some of my other ones, consider subscribing to <a th:href="@{https://mitchum.blog/}">my blog</a>.
            A few of my JavaScript <a th:href="@{https://mitchum.blog/game-tutorials/}">game tutorials</a> became popular on Hacker News, so you might find those interesting as well.
        </p>
    </div>
</main>
</body>
</html>