<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/app.css}" />
    <!--Make it look good on phones-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <main>
        <div class="nav">
            <div class="title"><strong>Hacker Wisdom</strong></div>
            <div><a th:href="@{/about}">About</a> | <a th:href="@{https://github.com/mmaynar1/hacker-wisdom/tree/master}">Source Code</a> | <a th:href="@{https://mitchum.blog/hacker-wisdom/}">Blog Post</a></div>
        </div>
        <div class="container">
            <div th:each="answer : ${answeredQuestions}">
                <a th:href="${'https://news.ycombinator.com/item?id=' + answer.id}">
                    <h3 th:text="${answer.title}"></h3>
                </a>
                <div class="linkContainer" th:each="link : ${answer.links}">
                    <a th:href="${link}" th:utext="${link}"></a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>